<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel = "stylesheet" href="css/bootstrap.css">
</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>날짜</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}" th:with="localDateTime=${post.modifiedAt}">
        <td th:text="${post.title}"></td>
        <td th:text="${post.name}"></td>
        <td th:text="${#temporals.format(localDateTime,'yyyy-MM-dd HH:mm:ss')}"></td>
        <td><a th:href="@{/api/post/{id} (id=${post.id})}">글보러가기</a></td>
    </tr>
    </tbody>
</table>

<a href="/api/save/post">
    <button class="w-btn w-btn-blue" type="button">글쓰러가기</button>
</a>
<a href="/">
    <button class="w-btn w-btn-blue" type="button">메인으로</button>
</a>

<script src = "js/query-3.1.1.js"></script>
<script src = "js/bootstrap.js"></script>
</body>
</html>